/*Color Variables*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/**************menu part start*****************/
.main_menu .navbar-brand {
  padding-top: 0rem;
  padding-bottom: 0px;
}

.main_menu .navbar {
  padding: 0px;
}

.main_menu .main-menu-item ul li .nav-link {
  color: #000;
  font-size: 14px;
  padding: 35px 25px;
  font-family: "Roboto", sans-serif;
  text-transform: capitalize;
  line-height: 12px;
  font-weight: 400;
}

.main_menu .main-menu-item ul li .nav-link:hover {
  color: #000;
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .main_menu .main-menu-item ul li .nav-link {
    padding: 35px 20px;
  }
}

.main_menu #search_1 i {
  color: #000;
}

.main_menu #search_input_box {
  position: fixed;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 100%;
  max-width: 1140px;
  z-index: 999;
  text-align: center;
  background: #2f7dfc;
}

.main_menu #search_input_box ::-webkit-input-placeholder {
  color: #fff;
}

.main_menu #search_input_box :-ms-input-placeholder {
  color: #fff;
}

.main_menu #search_input_box ::-ms-input-placeholder {
  color: #fff;
}

.main_menu #search_input_box ::placeholder {
  color: #fff;
}

@media (max-width: 991px) {
  .main_menu #search_input_box {
    margin-top: 15px;
  }
}

.main_menu #search_input_box .form-control {
  background: transparent;
  border: 0;
  color: #ffffff;
  font-weight: 400;
  font-size: 15px;
  padding: 0;
}

.main_menu #search_input_box .btn {
  width: 0;
  height: 0;
  padding: 0;
  border: 0;
}

.main_menu #search_input_box .ti-close {
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  padding: 10px;
  padding-right: 0;
}

.main_menu .search-inner {
  padding: 5px 5px;
}

.main_menu .form-control:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.main_menu .active_color {
  color: #f5790b !important;
}

.main_menu a i {
  color: #000;
  position: relative;
  z-index: 1;
  font-size: 15px;
  margin-left: 30px;
}

.main_menu .cart .dropdown-toggle::after {
  display: inline-block;
  margin-left: .255em;
  vertical-align: .255em;
  content: "";
  border: 0px solid transparent;
}

.main_menu .cart i {
  color: #000;
  position: relative;
  z-index: 1;
  font-size: 15px;
}

.main_menu .cart i:after {
  position: absolute;
  border-radius: 50%;
  background-color: #2f7dfc;
  width: 14px;
  height: 14px;
  right: -8px;
  top: -8px;
  content: "5";
  text-align: center;
  line-height: 15px;
  font-size: 10px;
  color: #fff;
}

.menu_fixed {
  position: fixed;
  z-index: 9999 !important;
  width: 100%;
  -webkit-box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.05);
  top: 0;
  background-color: #fff;
}

.menu_fixed .active_color {
  color: #2f7dfc !important;
}

.dropdown .dropdown-menu {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  overflow: hidden;
  -webkit-transform-origin: top center;
          transform-origin: top center;
  -webkit-transform: scale(1, 0);
          transform: scale(1, 0);
  display: block;
  border: 0px solid transparent;
  background-color: #2f7dfc;
}

.dropdown .dropdown-menu .dropdown-item {
  font-size: 14px;
  padding: 8px 20px !important;
  color: #fff !important;
  background-color: #2f7dfc;
  text-transform: capitalize;
}

.dropdown:hover .dropdown-menu {
  -webkit-transform: scale(1);
          transform: scale(1);
}

@media (max-width: 991px) {
  .main_menu {
    padding: 26px 0px;
  }
  .home_menu .main-menu-item {
    padding-left: 0px;
  }
  .main_menu .main-menu-item {
    text-align: left !important;
  }
  .main_menu .main-menu-item .nav-item {
    padding: 10px 15px !important;
  }
  .main_menu .main-menu-item .nav-item .nav-link {
    padding: 5px 15px !important;
    color: #000;
  }
  .navbar-collapse {
    z-index: 9999 !important;
    position: absolute;
    left: 0;
    top: 50px;
    width: 100%;
    background-color: #fff;
    text-align: center !important;
  }
  .dropdown .dropdown-menu {
    -webkit-transform: scale(1, 0);
            transform: scale(1, 0);
    display: none;
    margin-top: 10px;
  }
  .dropdown:hover .dropdown-menu {
    -webkit-transform: scale(1);
            transform: scale(1);
    display: block;
    color: #2f7dfc;
  }
  .dropdown .dropdown-item:hover {
    color: #2f7dfc !important;
  }
  .navbar-brand img {
    max-width: 100px;
    margin: 0 auto;
    position: absolute;
    left: 0;
    right: 0;
    display: inline-block;
    top: 0;
  }
  .navbar-light .navbar-toggler {
    border-color: transparent;
    position: absolute;
    left: 0;
  }
  .menu_icon img {
    width: 55px;
    margin-left: -28px;
    margin-top: -5px;
  }
}

@media (max-width: 576px) {
  .main_menu {
    padding: 20px 0px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .main_menu {
    padding: 20px 0px;
  }
}

.dropdown-menu {
  border: 0px solid rgba(0, 0, 0, 0.15) !important;
  background-color: #fafafa;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.main-menu-item {
  -webkit-box-pack: center !important;
      -ms-flex-pack: center !important;
          justify-content: center !important;
}

#search_input_box {
  visibility: hidden;
}

#banner {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0 0;
  font-family: "Roboto", sans-serif;
  background-image: url(../../assets/images/bg.jpg);
  margin-top: 81px;
  height: 490px;
}

#banner .banner-texts {
  position: relative;
}

#banner .banner-texts h5 {
  position: absolute;
  top: 100px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  font-size: 40px;
  font-family: "Roboto Condensed", sans-serif;
  color: #000;
}

#banner .banner-texts h1 {
  position: absolute;
  top: 210px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  font-size: 60px;
  font-family: "Roboto Condensed", sans-serif;
  color: red;
}

#banner .banner-texts button {
  position: absolute;
  top: 370px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  background-color: transparent;
  color: #666666;
  padding: 10px 35px;
  border-radius: 20px;
  font-weight: 600;
  border: solid 2px #2f7dfc;
  font-size: 40px;
}

#banner .banner-texts button:hover {
  color: #000;
  background-color: rgba(255, 255, 255, 0.329);
  border: #000;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  font-weight: 600;
}

footer {
  font-family: "Roboto", sans-serif;
  background-color: #000;
  font-size: 20px;
  font-weight: 600;
}

footer .col-height {
  height: 325px;
}

footer a {
  text-decoration: none;
  color: #606060;
  font-weight: 500;
}

footer a:hover {
  text-decoration: none;
  font-weight: 600;
  color: #f6f6f6;
}

footer .footer-head {
  margin: 40px 0;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 30px;
  color: #f6f6f6;
}

footer .footer-mail {
  background-color: transparent;
  border: none;
  border-bottom: #f6f6f6 solid 1px;
  width: 250px;
  height: 50px;
}

footer .footer-mail::-webkit-input-placeholder {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 20px;
}

footer .footer-mail:-ms-input-placeholder {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 20px;
}

footer .footer-mail::-ms-input-placeholder {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 20px;
}

footer .footer-mail::placeholder {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 20px;
}

footer .footer-btn {
  margin: 60px 0;
}

footer .footer-btn button {
  background-color: transparent;
  color: #f6f6f6;
  padding: 10px 35px;
  border-radius: 20px;
  font-weight: 600;
  border-color: #f6f6f6;
}

footer .footer-btn button:hover {
  color: #000;
  background-color: #f6f6f6;
  border: #000;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  font-weight: 600;
}

footer .goto {
  position: relative;
}

footer .goto ul li {
  margin: 0 0 12px 31px;
}

footer .goto ul li::before {
  content: "--";
  color: #f6f6f6;
  vertical-align: 3px;
  font-weight: 400;
}

footer .goto .white-line {
  position: absolute;
  width: 3px;
  height: 132px;
  top: 68px;
  left: 51px;
  background-color: #f6f6f6;
}

footer .contact {
  position: relative;
}

footer .contact ul li {
  margin: 0 0 12px 54px;
}

footer .contact ul span {
  position: absolute;
  left: 46px;
}

footer .contact ul span::before {
  content: "--";
  color: #f6f6f6;
  vertical-align: 3px;
  font-weight: 400;
}

footer .contact .white-line {
  position: absolute;
  width: 3px;
  height: 127px;
  top: 68px;
  left: 51px;
  background-color: #f6f6f6;
}

footer .contact .social .social-media img {
  width: 40px;
  margin: 5px 17px;
  border-radius: 33px;
}

footer .contact .social .social-media img:hover {
  -webkit-box-shadow: 4px 4px 13px -4px;
          box-shadow: 4px 4px 13px -4px;
  -webkit-transition: ease .7s;
  transition: ease .7s;
}

@media (max-width: 575.98px) {
  footer .contact {
    font-size: 20px;
  }
  footer .contact .white-line {
    height: 146px;
  }
}

#cards {
  margin: 50px 0;
  font-family: "Roboto", sans-serif;
}

#cards .card {
  margin: 13px 10px;
  background-color: #888888;
  width: 200px;
  height: 300px;
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border: none;
  border-radius: 10px;
}

#cards .card .middle-card {
  position: absolute;
  top: 2px;
  left: 2px;
  width: 200px;
  height: 300px;
  background-color: #606060;
  border: none;
  border-radius: 10px;
}

#cards .card .middle-card:hover {
  top: 4px;
  left: 4px;
  -webkit-transition: ease-in-out .5s;
  transition: ease-in-out .5s;
}

#cards .card .middle-card .inner-card {
  position: absolute;
  top: 4px;
  left: 4px;
  width: 200px;
  height: 300px;
  background-color: #000;
  border: none;
  border-radius: 10px;
  overflow: hidden;
  -webkit-box-shadow: 5px 6px 11px -2px;
          box-shadow: 5px 6px 11px -2px;
}

#cards .card .middle-card .inner-card:hover {
  top: 6px;
  left: 6px;
  -webkit-transition: ease-in-out .5s;
  transition: ease-in-out .5s;
  -webkit-box-shadow: 5px 6px 13px 1px;
          box-shadow: 5px 6px 13px 1px;
}

#cards .card .middle-card .inner-card img {
  width: 200px;
  height: 200px;
  border-radius: 10px;
}

#cards .card .middle-card .inner-card .brand {
  color: #fff;
  text-align: center;
  font-size: 30px;
  font-weight: bolder;
  position: absolute;
  bottom: 25px;
  right: 5px;
}

#cards .card .middle-card .inner-card .price_cart {
  margin-top: 20px;
}

#cards .card .middle-card .inner-card .price_cart .original_price {
  color: red;
  position: absolute;
  bottom: 50px;
  left: 6px;
}

#cards .card .middle-card .inner-card .price_cart .original_price::before {
  content: ' ';
  position: absolute;
  background-color: red;
  width: 1px;
  height: 55px;
  bottom: -18px;
  left: 25px;
  -webkit-transform: rotate(75deg);
          transform: rotate(75deg);
}

#cards .card .middle-card .inner-card .price_cart .offer_price {
  color: green;
  position: absolute;
  bottom: 15px;
  left: 6px;
}

#cards .card .middle-card .inner-card .price_cart .offer_price:hover {
  font-weight: 600;
}

#cards .card .middle-card .inner-card button {
  position: absolute;
  top: 180px;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  background-color: #1d1c1c;
  color: #f6f6f6;
  padding: 10px 25px;
  border-radius: 20px;
  font-weight: 600;
  border-color: #f6f6f6;
}

#cards .card .middle-card .inner-card button:hover {
  color: #000;
  background-color: #f6f6f6;
  border: #000;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  font-weight: 600;
}

#login {
  margin-top: 210px;
  margin-bottom: 20px;
  font-family: 'Roboto', sans-serif;
}

#login .register_layout {
  background-color: #ff005a;
  background-image: linear-gradient(16deg, #ff005a -8%, #ff5d2d 106%, #ffba00 84%);
  max-width: 540px;
  height: 600px;
  color: white;
  text-align: center;
  position: relative;
}

#login .register_layout .inner_reg_layout {
  padding: 230px 0;
}

#login .register_layout .inner_reg_layout h4 {
  font-size: 24px;
  font-weight: 700;
  padding: 10px 0;
}

#login .register_layout .inner_reg_layout p {
  padding: 10px 55px 20px 55px;
  font-weight: 500;
  line-height: 24px;
}

#login .register_layout .inner_reg_layout button {
  background-color: transparent;
  border-radius: 20px;
  border: #ffffff solid 1px;
  text-transform: uppercase;
  padding: 10px 30px;
  font-size: 14px;
  letter-spacing: -0.5px;
  font-weight: 500;
  color: #ffffff;
}

#login .register_layout .inner_reg_layout button:hover {
  background-color: white;
  color: #2f7dfc;
  -webkit-transition: ease-in 0.3s;
  transition: ease-in 0.3s;
}

#login .login_layout {
  height: 600px;
  color: #777777;
}

#login .login_layout .inner_login_layout {
  padding: 100px 70px;
}

#login .login_layout .inner_login_layout h4 {
  font-size: 26px;
  font-weight: 700;
  line-height: 36px;
  color: black;
}

#login .login_layout .inner_login_layout .input-cmn {
  margin: 20px 0;
  padding: 10px 20px 10px 5px;
  width: 400px;
  border: none;
  border-bottom: #777777 solid 1px;
}

#login .login_layout .inner_login_layout .check {
  padding: 20px 0;
}

#login .login_layout .inner_login_layout button {
  background-color: #2f7dfc;
  border-radius: 20px;
  border: #ffffff solid 1px;
  text-transform: uppercase;
  padding: 15px 175px;
  font-size: 14px;
  letter-spacing: -0.5px;
  font-weight: 500;
  color: #ffffff;
}

#login .login_layout .inner_login_layout button:hover {
  background-color: red;
  color: #2f7dfc;
  -webkit-transition: ease-in 0.5s;
  transition: ease-in 0.5s;
  color: white;
}

#login .login_layout .inner_login_layout .forgot-pass {
  padding: 20px 0;
  text-align: right;
}

#login .login_layout .inner_login_layout .forgot-pass a {
  text-decoration: none;
  color: #777777;
}

@media (max-width: 575.98px) {
  #login {
    margin-top: 110px;
  }
  #login .register_layout {
    height: 500px !important;
  }
  #login .register_layout .inner_reg_layout {
    padding: 130px 0 !important;
  }
  #login .inner_login_layout {
    padding: 100px 5px !important;
  }
  #login .inner_login_layout .input-cmn {
    width: 300px !important;
  }
  #login .inner_login_layout button {
    padding: 15px 130px !important;
  }
}
/*# sourceMappingURL=style.css.map */